@colComponentBackgroundColor: #1d2127;
@canvasBackgroundColor: #0e2a43;
@mainBackgroundColor: #2a2e33;
@iconSelectedcolor: #2681ff;
@iconNotSelectedcolor: #303640;
@highlight: #101010;
@titleBoxBackgroundColor: #333b45;

@cyan-1: #e6fffb;
@cyan-2: #b5f5ec;
@cyan-3: #87e8de;
@cyan-4: #5cdbd3;
@cyan-5: #36cfc9;
@cyan-6: #13c2c2;
@cyan-7: #08979c;
@cyan-8: #006d75;
@cyan-9: #00474f;
@cyan-10: #002329;